In [3]:
#QUOTES INSIDE THE QUOTES
a='Mehak_Malhotra'
print(a)
type(a)
b='Mehak"s'
print(b)
c="Mehak's"
print(c)
d='''Mehak"s"'''
print(d)
e="Mehak's" #use this if you have single quotes in your string
print(e)
f='Mehak"s'
print(f)
g='''Mehak"s and Mehak's''' #multi-line string
print(g)

Mehak_Malhotra
Mehak"s
Mehak's
Mehak"s"
Mehak's
Mehak"s
Mehak"s and Mehak's

In [9]:
name="Mehak_Malhotra"
print(name[4]) #printing the 4 character in the string
#name[6] #giving the 6 character in the string
#name[5]="a" #this does not work as we cannot change the character in the string
#print(name[1:10]) #giving the range of characters you want
#print(name[:14]) #character starting fro 0 till 14
#print(name[1:]) #character strating from 1 till end
#name[-14:-1] #reverse indexing moving from right to left

k

In [13]:
name="ThankYouForEverthing"
#name[0: :3] #character from 0 till end with increment of 3
#name[ : : ] #all characters from 0 till end with increment of 1(whole string)
#name[ : :2] #all characters from 0 till end with increment of 2
name[ : :-1] #all chacters from reverse or simply reversing a string

'gnihtrevEroFuoYknahT'

In [14]:
greeting="Good Morning"
name="Everyone"
print(type(name))
a=greeting+name #concatenating 2 strings
print(a)

<class 'str'>
Good MorningEveryone

In [25]:
story="once upon a time there was a course named INT557 which is python course with notes and lectures given by Pradeep"
print(len(story)) #length of the string
#print(story.endswith("Pradeep")) #to check wether the string end with pradeep or not
#print(story.endswith("notes"))
#print(story.count("c")) #to count the number of c in the string
#print(story.find("upon")) #to find the position of the given word
#print(story.replace("python","Data Science with Python")) #to replace anything in the string
#print(story.capitalize()) #to make the first letter of the string capital

Once upon a time there was a course named int557 which is python course with notes and lectures given by pradeep

In [31]:
string="Linuxize"
#print(string[2:6])
print(string[-4:-2])

xi

In [32]:
story="Good Morning Everyone.\n How \tare y\\ou all to\'day"
print(story) #\n to go next line \t to get tab in the string \\ to get a slash in the string \' to get the single quote in the string

Good Morning Everyone.
 How 	are y\ou all to'day

In [34]:
name=input("Enter your name:\n")
print("Good Morning, "+name) #to concatenate two strings

Enter your name:
Mehak Malhotra
Good Morning, Mehak Malhotra

In [35]:
st="This is a sting with double  spaces  ok"
st=st.replace("  "," ") #to replace double space with single space
print(st)

This is a sting with double spaces ok